    body
    {
        background: #eee;
        font-family: 'PT Sans', 'sans-serif';
    }
    .all
    {
        width: 960px;
        margin: 0 auto;

    }

    .all ul
    {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: justify;
    }

    .all ul li
    {
        padding: 0;
        margin: 0 0 30px 0;
        width: 464px;
        background: #fff;
        display: inline-block;
        border-radius: 1px;
        box-shadow: 1px 2px 2px #D4D4D6;
        margin-left: 8px;
    }

    .one-name, .one-photo, .one-descr, .one-b-m
    {
        width: 100%;
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
    }

    .one-name
    {
        padding: 10px 4%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .one-name a
    {
        font-size: 22px;
        color: #383838;
        text-decoration: none;
        font-weight: bold;
    }

    .one-name a:hover
    {
        color: #2ab8d5;
    }

    .one-b-m
    {
        padding: 10px 4%;
        background: whitesmoke;
        border-top: 1px solid white;
        text-align: right;
    }

    .one-b-m button
    {
        background: none;
        border: none;
        cursor: pointer;
        color: #2ab8d5;
    }

    .one-descr
    {
        height: 200px;
        overflow: hidden;
        padding: 0 4%;
        border-bottom: 1px solid #dee0e4;
        font-size: 14px;
    }

    .one-photo
    {
        height: 275px;
        overflow: hidden;
    }

    .one-photo img
    {
        width: 100%;
    }

    .text-fog
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 50px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.16) 12%, rgba(255,255,255,1) 75%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(12%,rgba(255,255,255,0.16)), color-stop(75%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 12%,rgba(255,255,255,1) 75%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 12%,rgba(255,255,255,1) 75%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 12%,rgba(255,255,255,1) 75%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 12%,rgba(255,255,255,1) 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }