body
{
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: 'PT Sans', 'sans-serif';

}

.panel {
    position: fixed;
    right: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap { 
    position: relative; 
}

.clearfix
{
	content: "";
	display: table;
	clear: both;
}

#header
{
	position: relative;
	margin: 0;
	background: url('../img/forest.jpg');
	background-size: cover;
	background-position: center center;
	color: #fff;
	height: 700px;
}

#header > header
{
	width: 80%;
	padding: 30px;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -40%;
}

 #header > header img
{
	float: left;
}

.menu-text
{
	display: inline-block;
	width: 50%;
	float: right;
	text-align: right;
	line-height: 58px;
}

.menu-text ul
{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.menu-text ul li
{
	display: inline-block;
	padding: 0;
	margin-left: 8%;
}

.menu-text ul li a
{
	color: #fff;
	text-decoration: none;
}

.menu-text ul li a:hover
{
	color: #2ab8d5;
}

.menu-ico
{
	background: url('../img/menu-link.png');
	background-size: 100%;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-bottom: -8px;
	padding: 0;
	cursor: pointer;
}

.menu-ico:hover
{
	background: url('../img/menu-link-hover.png');
	background-size: 100%;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-bottom: -8px;
	padding: 0;
	cursor: pointer;
}

.night-fog
{
	position: absolute;
	top: 0;
	height: 100px;
	width: 100%;
	display: inline-block;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 48%, rgba(0,0,0,0.49) 61%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,rgba(0,0,0,0.65)), color-stop(61%,rgba(0,0,0,0.49)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 48%,rgba(0,0,0,0.49) 61%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 48%,rgba(0,0,0,0.49) 61%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 48%,rgba(0,0,0,0.49) 61%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 48%,rgba(0,0,0,0.49) 61%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


}