body
{
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: 'PT Sans', 'sans-serif';

}

.panel {
    position: fixed;
    right: -20em; /*left or right and the width of your navigation panel*/
    width: 20em; /*should match the above value*/
}

.wrap {
    position: relative;
}

.clearfix
{
	content: "";
	display: table;
	clear: both;
}

#header
{
	position: relative;
	margin: 0;
	background: url('../img/forest.jpg');
	background-size: cover;
	background-position: center center;
	color: #fff;
	height: 115px;
	box-shadow: 0 0 10px -1px #000;
}

#header > header
{
	width: 80%;
	padding: 30px;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -40%;
}

 #header > header img
{
	float: left;
}

.menu-text
{
	display: inline-block;
	width: 50%;
	float: right;
	text-align: right;
	line-height: 58px;
}

.menu-text ul
{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.menu-text ul li
{
	display: inline-block;
	padding: 0;
	margin-left: 8%;
	cursor: pointer;
}

.menu-text ul li,.menu-text ul li a
{
	color: #fff;
	text-decoration: none;
}

.menu-text ul li:hover, .menu-text ul li a:hover
{
	color: #2ab8d5;
}


.night-fog
{
	position: absolute;
	top: 0;
	height: 100px;
	width: 100%;
	display: inline-block;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 48%, rgba(0,0,0,0.49) 61%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,rgba(0,0,0,0.65)), color-stop(61%,rgba(0,0,0,0.49)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 48%,rgba(0,0,0,0.49) 61%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 48%,rgba(0,0,0,0.49) 61%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 48%,rgba(0,0,0,0.49) 61%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 48%,rgba(0,0,0,0.49) 61%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.user-prof-slide
{
	width: 100%;
	height: 70px;
	margin-left: 20px;
	margin-top: 30px;
}

.user-prof-slide img
{
	width: 100%;
}

.img-pr-sl
{
	overflow: hidden;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	float: left;
}

.user-prof-slide span
{
	line-height: 60px;
	margin-left: 10px;
	color: #fff;
	font-size: 20px;
}

#menu
{
	background: #303030;
}

#menu ul
{
	margin: 0;
	padding: 0;
}

#menu ul li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li a
{
width: 90%;
margin-bottom: 10px;
margin-left: 5%;
display: inline-block;
height: 50px;
line-height: 50px;
text-align: center;
color: #fff;
text-decoration: none;
border: 1px solid #888;
border-radius: 8px;
}
#menu ul li a:hover
{
	background: rgba(255,255,255,.1);
}

#footer
{
	width: 100%;
	min-width: 960px;
	display: inline-block;
}


#footer
{
	height: 100px;
	background: #303030;
	text-align: center;
	padding-top: 20px;
}



	/*FORMMMMM*/
	/*-----------------------FORM --------------------*/
#night
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: url('../img/noisy-texture-night.png'), rgba(0,0,0,.8) ;
	z-index: 11;
	display: none;
}
#login-form, #reg-form
{
	z-index: 12;
	width: 460px;
	height: 250px;
	background: #eee;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -230px;
	margin-top: -125px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.9);
	border-radius: 2px;
	padding: 15px 25px 20px 25px;
	display: none;

}

.h3form
{
	font-size: 26px;
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: #a2a9ad;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.86);
}

.form-text-inp
{
	width: 100%;
	height: 30px;
	border-radius: 1px;
	border: none;
	color: #bababa;
	background: #fff;
	margin-top: 5px;
	box-shadow: 0px 1px 0px rgba(0,0,0,.05);
	padding: 0 10px;
}

.form-submit-but
{
border: 1px solid #678F8B;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.1);
background-color: #76AAA5;
background-image: linear-gradient(#76AAA5, #678F8B);

cursor: pointer;
margin-top: 20px;
width: 100%;
line-height: 36px;
border-radius: 3px;
}

#butn-close, #butn-close-reg
{
	font-size: 30px;
	font-family: 'Arial Black';
	float: right;
	color: #ccc;
	cursor: pointer;
	position: relative;
	top: -15px;
	left: 15px;
}

#butn-close:hover {color: #999;}
.form-submit-but:hover
{
border: 1px solid #5D7E7B;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.3);
background-color: #83ADA9;
background-image: linear-gradient(#83ADA9, #5D7E7B);
}
/*-----------------------FORM END --------------------*/

#content-t
{
	margin: 50px auto;
	padding: 15px 2%;
	background: #fff;
	width: 80%;
min-width: 960px;
box-shadow: 1px 2px 2px #D4D4D6;
position: relative;
}

.text-new
{
	width: 100%;
	height: 30px;
	border-radius: 1px;
	border: 1px solid #ccc;
	color: #bababa;
	background: #fff;
	margin-top: 5px;
	padding: 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.leftt-panel-a, .right-panel-a
	{
		height: 100%;
		display: inline-block;
	}

	.article-cont
	{
		position: relative;
		width: 100%;
	}

	.leftt-panel-a
	{
		float: left;
		width: 70%;
		min-width: 672px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.right-panel-a
	{
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
		min-width: 288px;
		padding: 0 1% 0 1%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}


	.add-file
	{
		width: 100%;
		height: 30px;
		border-radius: 1px;
		border: 1px solid #ccc;
		color: #bababa;
		background: #fff;
		padding: 0 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		cursor: pointer;
	}

		.my-map
	{
		width: 100%;
		height: 180px;
		background: #ccc;
		border-radius: 5px;
	}

    .dnone
    {
        display: none ;
    }

    .form_area
    {
        height:120px;
        resize: none;
    }

        /*IN file tt*/

.all
    {
        width: 100%;
        margin: 0 auto;

    }

    .all ul
    {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: justify;
    }

    .all ul li
    {
        padding: 0;
        margin: 0 0 30px 0;
        width: 49%;
        min-width: 464px;
        background: #fff;
        display: inline-block;
        border-radius: 1px;
        box-shadow: 0px 1px 5px #D4D4D6;
        margin-left: 8px;
    }

    .one-name, .one-photo, .one-descr, .one-b-m
    {
        width: 100%;
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;

        position: relative;
    }

    .one-name
    {
        padding: 10px 4%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .one-name a
    {
        font-size: 22px;
        color: #383838;
        text-decoration: none;
        font-weight: bold;
    }

    .one-name a:hover
    {
        color: #2ab8d5;
    }

    .one-b-m
    {
        padding: 10px 4%;
        background: whitesmoke;
        border-top: 1px solid white;
        text-align: right;
    }

    .one-b-m button
    {
        background: none;
        border: none;
        cursor: pointer;
        color: #2ab8d5;
    }

    .one-descr
    {
        height: 200px;
        overflow: hidden;
        padding: 0 4%;
        border-bottom: 1px solid #dee0e4;
        font-size: 14px;
    }

    .one-photo
    {
        height: 275px;
        overflow: hidden;
    }

    .one-photo img
    {
        width: 100%;
    }

    .text-fog
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 50px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.16) 12%, rgba(255,255,255,1) 75%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(12%,rgba(255,255,255,0.16)), color-stop(75%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 12%,rgba(255,255,255,1) 75%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 12%,rgba(255,255,255,1) 75%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 12%,rgba(255,255,255,1) 75%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 12%,rgba(255,255,255,1) 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    /*IN file tt end*/