  body
    {
        background: #eee;
        font-family: 'PT Sans', 'sans-serif';
    }

    .clearfix
{
    content: "";
    display: table;
    clear: both;
}
    .article-cont
    {
        position: relative;
    }

    .article
    {
        width: 80%;
        min-width: 960px;
        box-shadow: 1px 2px 2px #D4D4D6;
        margin: 50px auto;
        background: #fff;
        position: relative;
    }

    .leftt-panel-a, .right-panel-a
    {
        height: 100%;
        display: inline-block;
    }

    .leftt-panel-a
    {
        float: left;
        width: 70%;
        min-width: 672px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 10px 2%;
    }

    .right-panel-a
    {
        position: absolute;
        float: right;
        width: 30%;
        min-width: 288px;
        padding: 0 1% 0 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .descr-article
    {
        text-align: justify;
    }

    .photo-article img
    {
        width: 100%;
        background-size: cover;
        background-position: center center;
    }
    .name-article
    {
        font-size: 24px;
        color: #383838;
        font-weight: bold;
        margin-bottom: 10px;
        width: 70%;
        min-width: 672px;
        padding: 10px 2%;
    }

    .profile-user
    {
        position: absolute;
        right: 0;
        top: 10px;
        width: 30%;
        min-width: 288px;
        height: 40px
    }

    .profile-user img
    {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        float: left;
    }

    .profile-user span
    {
        line-height: 35px;
    }

    .attach-article
    {
        width: 100%;
        background: #eee;
        padding: 5px 0;
    }

    .attach-article ul
    {
        padding: 0;
        margin: 0;
    }

    .attach-article ul li
    {
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .attach-article ul li img
    {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }


    .subtask-article ul
    {
        margin-left: -18px;
    }

    .subtask-article ul li
    {
        list-style-type: decimal;

    }

    .subtask-article ul li span
    {
            font-weight: bold;
    }

    .upup-task
    {
        width: 100%;
        padding: 20px 0;
    }

    .up-h
    {
        width: 100%;
        border-bottom: 1px solid #000;
    }
.oneupup
    {
        width: 100%;
        background: brown;
        position: relative;
        display: inline-block;
    }

    .upup-date
    {
        float: left;
        width: 70px;
        height: 70px;
        background: #000;
    }

    .upup-deck
    {
        position: absolute;
        left: 80px;
        right: 0;
    }

    .money-need
    {
        width: 100%;
        height: 80px;
        font-size: 40px;
        color: #ccc;
    }

    .time-end
    {

    }

    .my-map
    {
        width: 100%;
        height: 180px;
        background: #ccc;
        border-radius: 5px;
    }

    .my-progres
    {
        width: 100%;
        height: 20px;
    }


    .video
    {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .video img
    {
        width: 100%;
        height: 100%;
    }

    .video-cont
    {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -320px;
        margin-top: -132px;
        display: none;
        z-index: 20;
    }

    #night
    {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.8);
        display: none;
        z-index: 1;
    }

    .butn-close
    {
        font-size: 30px;
        font-family: 'Arial Black';
        float: right;
        color: #ccc;
        cursor: pointer;
        position: relative;
        top: -15px;
        left: 15px;
    }

    /*-----------------------FORM --------------------*/


#subt-form
{
    z-index: 12;
    width: 460px;
    height: 288px;
    background: #eee;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -230px;
    margin-top: -125px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.9);
    border-radius: 2px;
    padding: 15px 25px 20px 25px;
    display: none;

}

.h3form
{
    font-size: 26px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #a2a9ad;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.86);
}

.form-text-inp
{
    width: 100%;
    height: 30px;
    border-radius: 1px;
    border: none;
    color: #bababa;
    background: #fff;
    margin-top: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.05);
    padding: 0 10px;
}

.form-submit-but
{
border: 1px solid #678F8B;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.1);
background-color: #76AAA5;
background-image: linear-gradient(#76AAA5, #678F8B);

cursor: pointer;
margin-top: 20px;
width: 100%;
line-height: 36px;
border-radius: 3px;
}

#butn-close, #butn-close-reg, #butn-close-sub
{
    font-size: 30px;
    font-family: 'Arial Black';
    float: right;
    color: #ccc;
    cursor: pointer;
    position: relative;
    top: -15px;
    left: 15px;
}

#butn-close:hover {color: #999;}
.form-submit-but:hover
{
border: 1px solid #5D7E7B;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.3);
background-color: #83ADA9;
background-image: linear-gradient(#83ADA9, #5D7E7B);
}
/*-----------------------FORM END --------------------*/