﻿{% load staticfiles %}
{% load social_auth_widget %}
{% load avatar_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>targetree</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="{% static "js/bigSlide.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/styleok.css" %}"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<script>
    $(document).ready(function() {
        $('.menu-link').bigSlide();
    });
</script>
</head>
<body>
<div class="wrap push">
{% include "header.html" %}

	<section style="min-width: 1100px;" id="content-t">
		<div class="article-cont clearfix">
<div class="all">
	<ul>


        {% for task in task_list %}
        <li>
            <div class="one-name"><a href="/tasks/{{ task.id }}">{{ task.name }}</a></div>
            <div class="one-photo"> <img src="{{ task.image.url }}"></div>
            <div class="one-descr">
                <p>{{ task.descr }}</p>
                <div class="text-fog"></div>
            </div>
            <div class="one-b-m">
                <button>★ Подписаться
                    </button>
                </div>
        </li>
        {% endfor %}


	</ul>
</div>
		  	</div>


	</section>

	<section id="footer">
	<img src="{% static "img/logo.png" %}" alt="">

	</section>

</body>
    {% include "loginforms.html" %}