{% load staticfiles %}
{% load social_auth_widget %}
{% load avatar_tags %}

    <section id="header">
            <header class="clearfix">
            <a href="/">
                <img src="{% static "img/logo.png" %}" alt="">
            </a>
                <div class="menu-text">
                        <ul>
                        {% if user.is_authenticated %}
                        <li><a href="/logout/">Выйти</a></li>
                        <li> <a href="#menu" class="menu-link">&#9776;</a> </li>

                        {% else %}
                        <li id="reg-button"><a id="reg-button" href="#">Регистрация</a></li>
                        <li id="login-button"><a id="login-button" href="#">Войти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </header>
            <div class="night-fog"></div>

    </section>