{% load staticfiles %}
{% load social_auth_widget %}
{% load avatar_tags %}


<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
{% if task_list %}
<div class="all">
	<ul>
        {% for task in task_list %}
		<li>
			<div class="one-name"><a href="tasks/{{ task.id }}">{{ task.name }}</a></div>
			<div class="one-photo"> <img src="{{ task.image.url }}"></div>
			<div class="one-descr">
                {{ task.descr }}
			</div>
			<div class="one-b-m">★ Подписаться</div>
		</li>
        {% endfor %}
	</ul>
</div>
{% endif %}
{% social_auth_widget %}

{% if user.is_authenticated %}
{{ user.email }}
{% avatar user %}
<a href="{% url 'avatar_change' %}">Change your avatar</a>
{% endif %}
</body>
</html>