{% load staticfiles %}
{% load social_auth_widget %}
{% load avatar_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>targetree</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="{% static "js/bigSlide.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic" rel="stylesheet" type="text/css"/>

    <script>
    $(document).ready(function() {
        $('.menu-link').bigSlide();
    });
    </script>
</head>
<body>
<div class="wrap push">
    <section id="header">
            <header class="clearfix">
            <a href="/">
                <img src="{% static "img/logo.png" %}" alt="">
                </a>
                <div class="menu-text">
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="/logout/">Выйти</a></li>
                        <li> <a href="#menu" class="menu-link">&#9776;</a> </li>

                        {% else %}
                        <li id="reg-button"><a id="reg-button" href="#">Регистрация</a></li>
                        <li id="login-button"><a id="login-button" href="#">Войти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </header>
            <div class="night-fog"></div>
            <div class="motivation-textplb">
                <h1>У тебя есть цель?</h1>
                <p> <a style="width: auto;
height: auto;
background: none;
border: none;
text-decoration: underline;" href="#type-target">Определи</a> ее тип и реши!</p>
                {% if user.is_authenticated %}
                <a href="/add/" id="start">Создать новую цель</a>
                {% else %}
                <a href="#" id="start">Начать!</a>
                {% endif %}
            </div>
    </section>
    <section id="how-use">
        <div class="nams">Начни с просмотра популярных целей</div>
        <div class="Pops-block">
            {% if task_list %}
<div class="all">
    <ul>
        {% for task in task_list %}
        <li class="small-widt">
            <div class="one-name"><a href="tasks/{{ task.id }}">{{ task.name }}</a></div>
            <div class="one-photo"> <img src="{{ task.image.url }}"></div>
            <div style="height: 100px;" class="one-descr">
                <p>{{ task.descr }}</p>
                <div class="text-fog"></div>
            </div>
            <div class="one-b-m">
                <button>★ Подписаться
                    </button>
                </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

        </div>
    </section>
    <section id="use-android">
        <div class="use-android-warp">
            <img src="{% static "img/androidj.png" %}" alt="">
            <span>Используй телефон для мгновенного создания общественной цели!</span>
            <div class="android-link"></div>
        </div>
    </section>

    <section id="type-target">
        <div class="use-android-warp">
            <ul>
                <li class="bnmone"> <img src="{% static "img/1398606798_consult.png" %}" alt=""> <span>&nbsp;&nbsp;Личные&nbsp;&nbsp;</span> </li>
                <li class="bnmcentr"> <img src="{% static "img/1398606772_idea.png" %}" alt=""> <span> &nbsp;&nbsp;&nbsp;&nbsp;Краудфандинг</span></li>
                <li class="bnmtwo"> <img src="{% static "img/1398606811_partnership.png" %}" alt=""><span>Социальные</span></li>
            </ul>
        </div>
    </section>

    <section id="footer">
    <img src="{% static "img/logo.png" %}"alt="">

    </section>


    </div>
</body>

{% include "loginforms.html" %}

<script>
{% if not user.is_authenticated %}
$( "#start" ).click(function(){

  $( '#login-form' ).show('fade', 500);
  $( '#night' ).effect('fade', 500);

});
{% endif %}
</script>

</html>