{% load staticfiles %}
{% load social_auth_widget %}
{% load avatar_tags %}
{% load widget_tweaks %}

{% if user.is_authenticated %}

<nav id="menu" class="panel" role="navigation">
    <div class="user-prof-slide">
        <div class="img-pr-sl"> <img src="{% avatar_url user %}" alt=""></div>
        <span>{{ user.get_full_name }}</span>
    </div>
    <ul>
        <li><a href="/add/">Создать новую цель</a></li>
        <li><a href="/list/">Искать цель</a></li>
        <li><a href="/my/">Мои цели</a></li>
    </ul>

</nav>
{% endif %}

<form id="login-form" action="/login/" method="POST">
            <span id="butn-close">×</span>
            <div class="h3form">Вход:</div>
            <input class="form-text-inp" placeholder="ИМЯ" name="username" type="text" size="40">
            <input class="form-text-inp" placeholder="ПАРОЛЬ" type="password" name="password" size="40">
            <input class="form-submit-but" type="submit" value="OK">
            <p class="form-text-inp"><a href="/login/google-oauth2/">Google login</a></p>

        </form>

        <form style="height: 297px;" id="reg-form" method="POST" action="/register/">
            <span id="butn-close-reg">×</span>
            <div class="h3form">Регистрация:</div>
            {{ form.username |attr:"placeholder:ИМЯ"|add_class:"form-text-inp" }}
            {{ form.password1 |attr:"placeholder:ПАРОЛЬ"|add_class:"form-text-inp" }}
            {{ form.password2 |attr:"placeholder:ПОДТВЕРЖЕНИЕ ПАРОЛЯ"|add_class:"form-text-inp" }}
            <input class="form-submit-but" type="submit" value="OK">

        </form>

        <div id="night"></div>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
        $( "#butn-close" ).click(function(){

  $( '#login-form' ).hide('fade', 500);
  $( '#night' ).effect('fade', 500);
});


$( "#login-button" ).click(function(){

  $( '#login-form' ).show('fade', 500);
  $( '#night' ).effect('fade', 500);

});




        $( "#butn-close-reg" ).click(function(){

  $( '#reg-form' ).hide('fade', 500);
  $( '#night' ).effect('fade', 500);
});


$( "#reg-button" ).click(function(){

  $( '#reg-form' ).show('fade', 500);
  $( '#night' ).effect('fade', 500);

});
</script>