﻿{% load staticfiles %}
{% load social_auth_widget %}
{% load avatar_tags %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html>
<head>
	<title>targetree</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAoNQhebuvfZbsiwzvS9xl5g0fXRfzMQuw" type="text/javascript"></script>
<script src="{% static "js/gmapselect.js" %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static "js/bigSlide.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/styleok.css" %}" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<script>
    $(document).ready(function() {
        $('.menu-link').bigSlide();
    });
</script>
</head>
<body  onLoad="loadMap()">
<div class="wrap push">

    {% include "header.html" %}

	<section id="content-t">
		<div class="article-cont clearfix">
		  	<div class="leftt-panel-a">
                <form action="/add/" method="POST" enctype="multipart/form-data">
                    {{ form.name |add_class:"text-new"|attr:"placeholder:Название" }}
                    {{ form.descr |add_class:"text-new"|add_class:"form_area"|attr:"placeholder:Описание" }}
                    {{ form.deadline |add_class:"text-new"|attr:"placeholder:Дедлайн" }}
                    <p></p>
                    {{ form.image |add_class:"add-file" }}
                    <p></p>

                    <div id="map" class="my-map"></div>
                    <p></p>
                    <input class="form-submit-but" type="submit" value="OK">

                    {{ form.lat |add_class:"dnone"|attr:"value:10" }}
                    {{ form.lon |add_class:"dnone"|attr:"value:20" }}

                    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ field.name }} {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

                </form>

				<p></p>

		  		</div>
		  	</div>

			<div class="right-panel-a">
			</div>

	</section>

	<section id="footer">
	<img src="{% static "img/logo.png" %}" alt="">

	</section>


	</div>


{% include "loginforms.html" %}