{% load staticfiles %}

<html>
<head>
    <script type="text/javascript">
    var lat = "{{ task.lat }}"
    var lon = "{{ task.lon }}"
    </script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAoNQhebuvfZbsiwzvS9xl5g0fXRfzMQuw" type="text/javascript"></script>
<script src="{% static "js/gmapselect.js" %}" type="text/javascript"></script>
</head>

<body onLoad="loadMap()">

<div id="map" style="width: 350px; height: 300px"></div><br/>
<div id="mypoint">Click on map to get Lat/Lon Values<br/></div>

<form enctype="multipart/form-data" action="/tasks/{{ task.id }}" method="post" id="upload_form">
<table>

{{ form.as_table }}

<tr>
<td colspan="2"><input type="submit" name="submit" value="submit" class="submit"  /></td>
</tr>

</table>
</form>

{{ task.name }} <br>
{{ task.desc }}

</body>