{% load staticfiles %}
{% load avatar_tags %}
{% load widget_tweaks %}



<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<!-- photo -->

    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "js/lightbox.min.js" %}"></script>
    <link href="{% static "css/lightbox.css" %}" rel="stylesheet" />

<!-- photo end -->

<!-- video -->
    <link rel="stylesheet" href="{% static "css/video-js.css" %}" />
    <script src="js/video.js"></script>
    <script>
      videojs.options.flash.swf = "js/video-js.swf"
    </script>
<!-- video end -->
    <link href="{% static "css/task.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/styleok.css" %}" rel="stylesheet" type="text/css">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="https://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAoNQhebuvfZbsiwzvS9xl5g0fXRfzMQuw" type="text/javascript"></script>
    <script src="{% static "js/gmapselect.js" %}" type="text/javascript"></script>

    <script type="text/javascript">
    var lat = "{{ task.lat }}"
    var lon = "{{ task.lon }}"
    </script>


    <script type="text/javascript" src="{% static "js/bigSlide.js" %}"></script>

        <script>
    $(document).ready(function() {
        $('.menu-link').bigSlide();
    });
</script>
</head>
<body onLoad="justLoadMap()">
    <div class="wrap push">
    {% include "header.html" %}

<div class="article">
    <div class="profile-user">
    <img src="{% avatar_url task.owner %}" alt="">
    <span>{{ task.owner.get_full_name }}</span>
</div>
<div class="name-article">{{ task.name }}</div>
<div class="article-cont clearfix">
    <div class="leftt-panel-a">
        <div class="photo-article">
            <img src="{{ task.image.url }}" alt="">
        </div>
        <div class="attach-article">
            <ul>
                {% for i in photos %}
                <li><a href="{{ i.data.url }}" data-lightbox="image-1" data-title="My caption"><img src="{{ i.data.url }}" alt=""></a>
                </li>
                {% endfor %}

                {% for i in videos %}
                <li> <button class="video" id="video_{{ i.id }}"><img src="http://video-js.zencoder.com/oceans-clip.png" alt=""></button> </li>
                {% endfor %}

            </ul>
        </div>
        <div class="descr-article">
            {{ task.descr|linebreaksbr }}
        </div>
        <div class="subtask-article">
            <ul>
                {% for t in subtasks %}
                <li>
                    {% if t.is_done %}
                    <span style="text-decoration: line-through;">
                    {% else %}
                    <span>
                    {% endif %}
                    {{ t.name }}</span>
                    <p>{{ t.descr|linebreaksbr }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>

        <input class="form-subt" type="submit" value="Добавить сабтаску">

    </div>
    <div class="right-panel-a">
        <div class="money-need">400$/5000$</div>
        <div class="time-end">Deadline: {{ task.deadline }}</div>
        <div class="my-map" id="map"></div>
        <div class="my-progres">{{ completed }} of {{ sub_count }}</div>
    </div>
</div>
    <div class="upup-task clearfix">
        <div style="display: none;" class="leftt-panel-a">
            <div class="up-h">Блокнот цели:</div>
            <div class="oneupup">
                <div class="upup-date"></div>
                <div class="upup-deck">
                И маркетинговые исследования пока по Франции, поскольку базируемся тут, и самый большой поток туристов тут же. Маркетинговые исследования показывают, что ниша доступна, и с нашими ценами(36€ сутки) и условиями мы займем место между хостелями 8 кроватей в одной комнате(15-30€) и отелями одна звезда(60-120€).
                </div>
            </div>
        </div>
    </div>
</div>

<div class="night" id="night"></div>
{% for i in videos %}
<div class="video-cont video-cont-{{ i.id }}">
<span class="butn-close" id="butn-close-{{ i.id }}">×</span>

    <video id="video_{{ i.id }}" class="video-js vjs-default-skin"
      controls preload="auto" width="640" height="264"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup='{"example_option":true}'>
     <source src="{{ i.data.url }}" type='video/mp4' />
    </video>
</div>

</div>

<script type="text/javascript">
            $( "#butn-close-{{ i.id }}" ).click(function(){

  $( '.video-cont-{{ i.id }}' ).hide('fade', 500);
  $( '#night' ).effect('fade', 500);
});


$( "#video_{{ i.id }}" ).click(function(){

  $( '.video-cont-{{ i.id }}' ).show('fade', 500);
  $( '#night' ).effect('fade', 500);

});

</script>
{% endfor %}

</body>
<form  id="subt-form" method="POST" action="/subtasks/add/{{ task.id }}">
            <span id="butn-close-sub">×</span>
            <div class="h3form">Cабтаски:</div>

                <div class="subtuue-all">
                        {{ form.name |add_class:"text-new"|attr:"placeholder:Название" }}
                       {{ form.descr |add_class:"text-new"|add_class:"form_area"|attr:"placeholder:Описание" }}
</div>
            <input class="form-submit-but" type="submit" value="OK">
        </form>
<script type="text/javascript">
        $( "#butn-close-sub" ).click(function(){

  $( '#subt-form' ).hide('fade', 500);
  $( '#night' ).effect('fade', 500);
});


$( ".form-subt" ).click(function(){

  $( '#subt-form' ).show('fade', 500);
  $( '#night' ).effect('fade', 500);

});

</script>
{% include "loginforms.html" %}

</html>

<!-- video nigt -->


<!-- video nigt end -->